%tr
  %th{:class=>"label"}
  %td{:class => "field", :style => "text-align: left"}
    = check_box "page", "auto_order_children", :size => 15
    %label{:for => "page_auto_order_children"} Auto order children by publish date
